node_modules/*
app/node_modules/*

!app/node_modules/bindings/*
!app/node_modules/hiredis/*
!app/node_modules/redis/*
!app/node_modules/redis-parser/*
!app/node_modules/redis-commands/*
!app/node_modules/bluebird/*

bower_components
*.log
.DS_Store
Thumbs.db
/build/
/releases/
/tmp/

app/renderer/styles/angular-material
app/renderer/styles/angular-ui-grid