node_modules/*
app/node_modules/*

!app/node_modules/bindings/*
!app/node_modules/hiredis/*
!app/node_modules/redis/*
!app/node_modules/redis-parser/*
!app/node_modules/redis-commands/*
!app/node_modules/bluebird/*

bower_components
*.log
.DS_Store
Thumbs.db
/releases/
/tmp/
/dist/
/app/

src/styles/angular-material
src/styles/angular-ui-grid