<div style="height:100vh;" fxFlex fxLayout="column">
    <md-toolbar style="background: white;  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); z-index:1000; position:relative;">
        <!--<span>{{buildVersion}}</span>

        <span class="example-fill-remaining-space"></span>-->
        <div fxFlex="20">

            <button md-mini-fab (click)="sidenav.toggle()" color="primary" placeholder="Settings">
        <i fa class="fa-cog fa-lg"></i>
    </button>
        </div>

        <div fxFlex="60" fxLayout="column" fxFlexAlign="center center" fxFill>
            <md-input-container>
                <input mdInput placeholder="search" [mdAutocomplete]="auto" fxFlexAlign="center center" [(ngModel)]="searchPattern">
                <i fa class="fa-search" style="margin:5px;" (click)="search()"></i>
            </md-input-container>
        </div>

        <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let state of filteredStates | async" [value]="state">
                {{ state }}
            </md-option>
        </md-autocomplete>

        <div fxFlex="20"></div>
    </md-toolbar>

    <div fxFlex fxLayoutAlign="stretch stretch" fxLayout="row">
        <vertical-split-pane fxFlex="70" primary-component-minsize="150" secondary-component-minsize="180" primary-component-initialratio="0.3"
            local-storage-key="azure-tools-redis-main-splitter">

            <md-sidenav-container class="split-pane-content-primary windowHeight" style="margin:20px 0 0 0;">

                <md-sidenav #sidenav mode="side" opened="false" fxFill>
                    <div fxLayout="column" fxFill>
                        <div fxFill fxFlex="90">
                            <div style="margin:20px 0 0 20px">
                                Settings
                            </div>

                            <button fxFlexAlign="center start" md-button color="primary" (click)="addServer()" style="margin:10px 0 0 10px">
                            <i fa class="fa-plus dbPrime" style="margin:0px 10px 0 0;"></i>Add Server
                        </button>
                        </div>

                        <div style="min-height: 50px" fxFlex="10" fxLayout="column">
                            <div  fxLayout="row" fxLayoutAlign="center center" fxFill>
                                <div>
                                    <i class="fa fa-twitter"></i> Twitter:
                                    <a href="javascript:void(0)" (click)="openExternal('https://twitter.com/AzureTools')" style="cursor: pointer;">@AzureTools</a>
                                </div>

                                <div style="margin:0 0 0 20px">
                                    <i class="fa fa-github" style="margin-left: 5px;"></i> Github:
                                    <a href="javascript:void(0)" (click)="openExternal('https://github.com/Dorokhov/azure-tools')" style="cursor: pointer;">Like or Fork Me</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-sidenav>

                <tree-root #tree [nodes]="nodes" [options]="options" (onActivate)="onActivate($event)">
                    <ng-template #treeNodeTemplate let-node let-index="index">
                        <div fxLayout="row" fxFlexAlign="center center" style="height: 15px;">
                            <div (click)="changeExpanded(node)" style="width:20px; height: 20px; pointer-events:auto;" *ngIf="node.data.type !== TreeItemType.Key">
                                <i fa class="{{node.data.isExpanded ? 'fa-caret-down' : 'fa-caret-right'}}" fxLayoutAlign="space-around center"></i>
                            </div>

                            <i fa class="fa-server" style="margin: 0px 0 0 0; color:#f44336;" *ngIf="node.data.type === TreeItemType.Server"></i>
                            <i fa class="fa-database" style="margin:0px 0 0 0; " *ngIf="node.data.type === TreeItemType.Database"></i>
                            <i fa class="fa-folder" style="margin:0px 0 0 0;color:orange; " *ngIf="node.data.type === TreeItemType.Folder && !node.data.isExpanded"></i>
                            <i fa class="fa-folder-open" style="margin:0px 0 0 0; color:orange;" *ngIf="node.data.type === TreeItemType.Folder && node.data.isExpanded"></i>
                            <i fa class="fa-key" style="margin:0px 0 0 20px; " *ngIf="node.data.type === TreeItemType.Key"></i>

                            <span fxLayoutAlign="space-around center" style="font-size:16px; margin: 0 2px 0 5px; color: #222">{{ node.data.name }}</span>

                            <md-spinner fxLayoutAlign="space-around center" style="width: 15px; height:15px;" *ngIf="node.data.isBusy"></md-spinner>
                        </div>
                    </ng-template>
                </tree-root>
            </md-sidenav-container>

            <div class="split-pane-content-secondary">
                <md-tab-group #tabGroup (selectChange)="onSelectedKeyVmChanged($event)" [(selectedIndex)]="selectedKeyVmIndex" style="margin:20px 0 0 10px">
                    <md-tab *ngFor="let keyVm of keyVmList" label="{{keyVm.name}}" style="background:white;">
                        <div>
                            <md-progress-bar mode="indeterminate" *ngIf="keyVm.isBusy"></md-progress-bar>
                            <p class="tabHashHeight">
                                <redis-string [dataStructure]="keyVm.dataStructure" *ngIf="!_.isNil(keyVm.dataStructure) && keyVm.dataStructure.typeToDisplay == 'String'"></redis-string>
                                <redis-hash [dataStructure]="keyVm.dataStructure" *ngIf="!_.isNil(keyVm.dataStructure) && keyVm.dataStructure.typeToDisplay == 'Hash'"></redis-hash>
                                <redis-set [dataStructure]="keyVm.dataStructure" *ngIf="!_.isNil(keyVm.dataStructure) && keyVm.dataStructure.typeToDisplay == 'Set'"></redis-set>
                                <redis-zset [dataStructure]="keyVm.dataStructure" *ngIf="!_.isNil(keyVm.dataStructure) && keyVm.dataStructure.typeToDisplay == 'ZSet'"></redis-zset>
                            </p>
                        </div>
                    </md-tab>
                </md-tab-group>
            </div>
        </vertical-split-pane>

        <div fxFlex="30" style="background: white; box-shadow: -5px 0px 5px 1px rgba(0,0,0,0.19)">
            <div>
                <server-details [selectedTreeViewModel]="selectedTreeViewModel" *ngIf="_.isNil(selectedTreeViewModel) ? false : selectedTreeViewModel.typeToDisplay == 'Server'"></server-details>
                <database-details [selectedTreeViewModel]="(!_.isNil(selectedTreeViewModel) && selectedTreeViewModel.typeToDisplay == 'Database') ? selectedTreeViewModel : selectedKeyVm.db"
                    *ngIf="(!_.isNil(selectedTreeViewModel) && selectedTreeViewModel.typeToDisplay == 'Database') || !_.isNil(selectedKeyVm)"></database-details>
                <key-details [selectedTreeViewModel]="selectedKeyVm" *ngIf="!_.isNil(selectedKeyVm)"></key-details>
            </div>
        </div>
    </div>
</div>