md-tabs.stretch-height {
    height: 100%;
}

md-icon {
    color: white;
}

.toggle-children{
    display: none !important;
}

.node-content-wrapper{
    width: 100% !important;
}
html, body{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
}

.windowHeight{
    height:-webkit-calc(100vh - 120px);
}

.tabHashHeight{
    height:-webkit-calc(100vh - 250px);
    margin: 20px;
}

md-tab-body{
    margin-right:10px;
}

.ttl-type-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.key-type-radio-group {
  display: inline-flex;
  flex-direction: row;
}

.key-type-radio-button {
  margin: 5px;
}

h3{
    color: #222
}

.md-button.md-THEME_NAME-theme.md-primary.md-fab:not([disabled]):hover {
  background-color: '{{primary-600}}'; }
.md-button.md-THEME_NAME-theme.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-THEME_NAME-theme.md-primary.md-fab:not([disabled]).md-focused {
  background-color: '{{primary-600}}'; }

  .dbPrime{
      color:#3f51b5;
  }

  .warning {
      color: #f44336
  }