<bg-splitter orientation="horizontal" flex layout="row">
    <bg-pane flex min-size="190" init-percentage="75">
        <md-content flex layout-padding>
            {{key.dataStructure.value}}
        </md-content>
    </bg-pane>

    <bg-pane flex min-size="190" init-percentage="25">
        <md-subheader>Details</md-subheader>
        <md-list-item>
            <p>Type</p>
            <p>{{ key.dataStructure.typeToDisplay }}</p>
        </md-list-item>
        <md-list-item>
            <p>TTL</p>
            <p>{{ key.ttl }}</p>
        </md-list-item>

        <md-divider></md-divider>

        <md-subheader>Actions</md-subheader>
        <md-list-item>
            <md-button class="md-primary" target="_blank">Refresh</md-button>
        </md-list-item>
    </bg-pane>
</bg-splitter>