md-tabs.stretch-height {
    height: 100%;
}

md-icon {
    color: white;
}

.toggle-children{
    display: none !important;
}

.node-content-wrapper{
    width: 100% !important;
}
html, body{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
}

.windowHeight{
    height:-webkit-calc(100vh - 120px);
}

.tabHashHeight{
    height:-webkit-calc(100vh - 250px);
    margin: 20px;
}

md-tab-body{
    margin-right:10px;
}

.key-type-radio-group {
  display: inline-flex;
  flex-direction: row;
}

.key-type-radio-button {
  margin: 5px;
}