<p><b>Change TTL of "{{keyVm.name}}" Key</b></p>

<div fxLayout="row" style="width: 400px; height: 200px;" fxLayoutAlign="start start">
    <section style="margin: 10px 15px 0 0">
        <md-radio-group class="ttl-type-radio-group" [(ngModel)]="selectedType">
            <md-radio-button class="key-type-radio-button" *ngFor="let type of types" [value]="type">
                <div> {{type}}</div>
            </md-radio-button>
        </md-radio-group>
    </section>

    <section *ngIf="selectedType !== 'Never'">
        <md-input-container class="input-field col s6">
            <div fxLayout="row" fxFlexAlign="center center">
                <input mdInput required md-no-asterisk name="ttl" [(ngModel)]="ttl" type="number">seconds
            </div>
        </md-input-container>
    </section>

</div>

<div fxLayout="row" fxLayoutAlign="end center" style="height:50px; margin:20px 0 0 0">
    <button md-button (click)="cancel()" md-button style="margin:0 20px 0 0px">Cancel</button>
    <button md-button (click)="change()" color="primary" md-raised-button>OK</button>
</div>