<div style="min-width:800px; min-height: 600px;">
    <md-progress-bar mode="indeterminate" *ngIf="isBusy"></md-progress-bar>

    <p><b>Add New Key to Database "{{dbVm.model.number}}"</b></p>
    <md-card>
        <md-card-content>
            <ul>
                <li *ngFor="let error of errors">{{error}}</li>
            </ul>

            <p>
                <md-input-container class="input-field col s6" style="width:100%">
                    <label>Key</label>
                    <div fxLayout="row">
                        <input mdInput required md-no-asterisk name="key" [(ngModel)]="key">
                    </div>
                </md-input-container>
            </p>

            <section>
                <md-radio-group class="key-type-radio-group" [(ngModel)]="selectedType">
                    <md-radio-button class="key-type-radio-button" *ngFor="let type of types" [value]="type">
                       <div fxLayout="row" fxLayoutAlign="start center"> {{type}}</div>
                    </md-radio-button>
                </md-radio-group>
            </section>

            <section>
                <div fxLayout="column">
                    <div *ngIf="selectedType === 'Hash'" fxLayout="column">
                        <label>Hash</label>
                        <textarea [(ngModel)]="hash"></textarea>
                    </div>
                    <div *ngIf="selectedType === 'ZSet'">
                        <md-input-container class="input-field col s6">
                            <label>Score</label>
                            <div fxLayout="row" fxFlexAlign="center center">
                                <input mdInput required md-no-asterisk name="score" [(ngModel)]="score">
                            </div>
                        </md-input-container>
                    </div>

                    <label>Value</label>
                    <textarea [(ngModel)]="value" style="height:200px"></textarea>
                </div>
            </section>
        </md-card-content>
    </md-card>

    <p fxLayout="row" fxLayoutAlign="end center">
        <button (click)="add()" color="primary" md-raised-button>Add</button>
        <button (click)="addAndClose()" color="primary" md-raised-button style="margin:0 0 0 10px;">Add & Close</button>
        <button (click)="close()" color="warn" md-raised-button style="margin:0 0 0 20px;">Cancel</button>
    </p>
</div>