<div style="min-width:800px; min-height: 400px;" fxLayout="column">
    <md-progress-bar mode="indeterminate" *ngIf="isBusy"></md-progress-bar>

    <p><b>{{isEditMode ? 'Edit' : 'Add New Key to Database'}} "{{dbVm.model.number}}"</b></p>

    <section>
        <ul>
            <li *ngFor="let error of errors">{{error}}</li>
        </ul>
    </section>

    <section>
        <md-input-container class="input-field col s6" style="width:100%">
            <label>Key</label>
            <div fxLayout="row">
                <input mdInput required md-no-asterisk name="key" [(ngModel)]="key" [disabled]="isEditMode">
            </div>
        </md-input-container>
    </section>

    <section>
        <md-radio-group class="key-type-radio-group" [(ngModel)]="selectedType" [disabled]="isEditMode">
            <md-radio-button class="key-type-radio-button" *ngFor="let type of types" [value]="type">
                <div fxLayout="row" fxLayoutAlign="start center"> {{type}}</div>
            </md-radio-button>
        </md-radio-group>
    </section>

    <section>
        <div fxLayout="column">
            <div *ngIf="selectedType === 'Hash'" fxLayout="column" style="margin:20px 0 0 0">
                <label>Field</label>
                <textarea [(ngModel)]="field"></textarea>
            </div>
            <div *ngIf="selectedType === 'ZSet'">
                <md-input-container class="input-field col s6">
                    <label>Score</label>
                    <div fxLayout="row" fxFlexAlign="center center">
                        <input mdInput required md-no-asterisk name="score" [(ngModel)]="score" type="number">
                    </div>
                </md-input-container>
            </div>

            <label style="margin:20px 0 0 0">Value</label>
            <textarea [(ngModel)]="value" style="height:200px"></textarea>
        </div>
    </section>

    <div fxLayout="row" fxLayoutAlign="end center" style="height:50px; margin:20px 0 0 0">
        <button (click)="close()" md-button style="margin:0 20px 0 0px;">Cancel</button>
        <button (click)="add()" color="primary" md-raised-button>Save</button>
        <button (click)="addAndClose()" color="primary" md-raised-button style="margin:0 0 0 10px;">Save & Close</button>
    </div>
</div>