<md-list fxFlex="*" style="background:white;align-items:stretch; min-height: 100%; margin: 20px 20px 20px 20px">
    <h3><i fa class="fa-database" style="margin:0px 10px 0 0;"></i>Database Details</h3>
    <md-list-item> Number: {{_.isNil(selectedTreeViewModel) ? '-' :selectedTreeViewModel.name}} </md-list-item>

    <md-divider></md-divider>

    <button md-button (click)="createNewKey()"><i fa class="fa-plus dbPrime" style="margin:0px 10px 0 0;"></i>Add New Key</button>
    <button md-button (click)="reloadKeys()"><i fa class="fa-refresh dbPrime" style="margin:0px 10px 0 0;"></i>Reload Keys</button>
</md-list>