<div flex>
    <md-toolbar style="background: white;color:black;">Azure Tools
    </md-toolbar>
    <md-toolbar style="background: white;">
        <md-input-container class="md-block">
            <input ng-model="vm.search">
        </md-input-container>
    </md-toolbar>

    <div flex layout="row">
        <bg-splitter orientation="horizontal" style="margin-top: 190px;" flex layout="row">
            <!--left pane-->
            <bg-pane flex layout="column" min-size="190" init-percentage="42.2">
                <div flex layout="column">
                    <div style="height:50px;">
                        <md-button class="md-warn md-raised md-hue-2">New</md-button>
                        <md-button class="md-primary md-raised md-hue-2">Refresh</md-button>
                    </div>
                    <div flex layout="column">
                        <div ui-grid="vm.treeViewModel.gridOptions" class="grid" ui-grid-auto-resize ui-grid-selection flex></div>
                    </div>
                    <div style="height:50px;">
                        <md-button class="md-raised md-warn" ng-click="vm.showConnectionDialog()">Add account</md-button>
                    </div>
                </div>
            </bg-pane>

            <!-- right pane-->
            <bg-pane flex layout="column" min-size="190" init-percentage="42.2">
                <div flex layout="column">
                    <md-tabs flex layout="column" md-selected="selectedIndex" class="stretch-height" layout="column">
                        <md-tab ng-repeat="tab in vm.treeViewModel.selectedItems" label="{{tab.name}}" flex layout="column" layout="column">
                        </md-tab>
                </div>
            </bg-pane>

        </bg-splitter>
    </div>
</div>